import React from 'react';

interface {{pascalCase name}}Props {
  // Add props here
}

export function {{pascalCase name}}({ }: {{pascalCase name}}Props) {
  return (
    <div>
      {{pascalCase name}} Component
    </div>
  );
} 